<html>
  <head>
    <meta charset="UTF-8">
    <title>Formulário de Reserva</title>
    <style>
      select option[selected] {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Formulário de Reserva</h1>
    <form id="form" action="https://sheetdb.io/api/v1/5frvu6g667199" method="post">
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name" required>
      <br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <br>
      <label for="date">Data:</label>
      <input type="date" id="date" name="date" required>
      <br>
      <label for="time">Horário:</label>
      <select id="time" name="time" required>
        <option disabled selected value="">Selecione um horário</option>
        <option value="09:00" {% if "09:00" not in reserved_times %}>09:00</option>
        <option value="10:00" {% if "10:00" not in reserved_times %}>10:00</option>
        <option value="11:00" {% if "11:00" not in reserved_times %}>11:00</option>
        <option value="12:00" {% if "12:00" not in reserved_times %}>12:00</option>
        <option value="13:00" {% if "13:00" not in reserved_times %}>13:00</option>
        <option value="14:00" {% if "14:00" not in reserved_times %}>14:00</option>
        <option value="15:00" {% if "15:00" not in reserved_times %}>15:00</option>
        <option value="16:00" {% if "16:00" not in reserved_times %}>16:00</option>
        {% for time in reserved_times %}
          <option value="{{ time }}" selected>{{ time }}</option>
        {% endfor %}
      </select>
      <br>
      <label for="comments">Comentários:</label>
      <textarea id="comments" name="comments"></textarea>
      <br>
      <button type="button" onclick="submitForm()">Enviar</button>
    </form>

    <script>
      function submitForm() {
        var time = document.getElementById("time").value;
        if (time === "") {
          alert("Selecione um horário antes de enviar o formulário");
          return;
        }
        document.getElementById("form").submit();
      }
    </script>
  </body>
</html>
